@model PeregrineWeb.Models.Peregrine_Result

@{
    ViewBag.Title = "Details";
}
@{
    string beginning = "https://www.sec.gov/cgi-bin/browse-edgar?CIK=";
    string end = "&owner=exclude&action=getcompany&Find=Search";
    string cik = Model.CIK.ToString();

    string url = string.Concat(beginning, cik, end);

    string start = "https://www.nasdaq.com/symbol/";
    string finish = "/real-time";
    string symbol = Model.Symbol.ToString().ToLower();

    string symbolUrl = string.Concat(start, symbol, finish);
}
<h2>Company Details</h2>
<h2>@Html.DisplayFor(model => model.Name) </h2>
<h3>
    @Html.DisplayFor(model => model.Industry
)
</h3>
<h2>
    <a href="@string.Format(url)" class="btn btn-primary btn-sm">EDGAR Database &raquo;</a>
    <a href="@string.Format(symbolUrl)" class="btn btn-primary btn-sm">NASDAQ Live Prices &raquo;</a>
</h2>
<div>

    <hr />
    <dl class="dl-horizontal">

        <dt><strong>Company Symbol:</strong></dt>
        <dd>
            @Html.DisplayFor(model => model.Symbol)
        </dd>
        <dt><strong>Address One:</strong></dt>

        <dd>
            @Html.DisplayFor(model => model.Address_1)
        </dd>
        <dt><strong>Address Two:</strong></dt>

        <dd>
            @Html.DisplayFor(model => model.Address_2)
        </dd>
        <dt><strong>City, State / Country:</strong></dt>

        <dd>
            @Html.DisplayFor(model => model.City___State)
        </dd>
        <dt><strong>Phone:</strong></dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt>Peregrine Research</dt>
        <dd>Technical Details</dd>

        <dt><strong>Last Close:</strong></dt>

        <dd>
            $@Html.DisplayFor(model => model.Last_Close)
        </dd>

        <dt><strong>50 Day Average:</strong></dt>

        <dd>
            $@Html.DisplayFor(model => model.C50_Day_Avg)
        </dd>

        <dt><strong>Business Industry:</strong></dt>

        <dd>
            @Html.DisplayFor(model => model.Industry)
        </dd>

        <dt><strong>MACD:</strong></dt>

        <dd>
            @Html.DisplayFor(model => model.MACD)
        </dd>

        <dt><strong>MACD Signal:</strong></dt>

        <dd>
            @Html.DisplayFor(model => model.MACD_Signal)
        </dd>

        <dt><strong>Stochastic %K:</strong></dt>

        <dd>
            @Html.DisplayFor(model => model.Stochastic_Slow)
        </dd>

        <dt><strong>Stochastic Signal:</strong></dt>

        <dd>
            @Html.DisplayFor(model => model.Stochastic_Signal)
        </dd>

    </dl>
</div>
<p>

    @Html.ActionLink("Back to List", "Index")
</p>
